<a href="https://colab.research.google.com/github/lstredel/Challenge-Telecom-X/blob/main/Challenge_TelecomX.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [159]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('future.no_silent_downcasting', True)

In [160]:
df=pd.read_json('https://raw.githubusercontent.com/alura-cursos/challenge2-data-science-LATAM/main/TelecomX_Data.json')

In [161]:
df = pd.json_normalize(df.to_dict('records'))

In [162]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [163]:
df.head()

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [164]:
df = df.replace({'Yes': 1, 'No': 0})

In [165]:
df.head()

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,0,Female,0,1,1,9,1,0,DSL,...,1,0,1,1,0,One year,1,Mailed check,65.6,593.3
1,0003-MKNFE,0,Male,0,0,0,9,1,1,DSL,...,0,0,0,0,1,Month-to-month,0,Mailed check,59.9,542.4
2,0004-TLHLJ,1,Male,0,0,0,4,1,0,Fiber optic,...,0,1,0,0,0,Month-to-month,1,Electronic check,73.9,280.85
3,0011-IGKFF,1,Male,1,1,0,13,1,0,Fiber optic,...,1,1,0,1,1,Month-to-month,1,Electronic check,98.0,1237.85
4,0013-EXCHZ,1,Female,1,1,0,3,1,0,Fiber optic,...,0,0,1,1,0,Month-to-month,1,Mailed check,83.9,267.4

In [166]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [167]:
print(df['Churn'].unique())

[0 1 '']

In [168]:
print(df['Churn'].value_counts())

Churn
0    5174
1    1869
      224
Name: count, dtype: int64

In [169]:
print(df['Churn'].unique())

[0 1 '']

In [170]:
df['Churn'] = df['Churn'].replace("", "No")

In [171]:
print(df['Churn'].unique())

[0 1 'No']

In [172]:
df['Churn'] = df['Churn'].replace("No", 0)

In [173]:
print(df['Churn'].unique())

[0 1]

In [174]:
df['Churn'] = pd.to_numeric(df['Churn'], errors='coerce')

In [175]:
df['Churn'] = df['Churn'].astype('int64')

In [176]:
print(df['Churn'].unique())

[0 1]

In [177]:
print(df['Churn'].value_counts())

Churn
0    5398
1    1869
Name: count, dtype: int64

In [178]:
print(df['phone.MultipleLines'].unique())

[0 1 'No phone service']

In [179]:
print(df['phone.MultipleLines'].value_counts())

phone.MultipleLines
0                   3495
1                   3065
No phone service     707
Name: count, dtype: int64

In [180]:
error_logico = df[(df['phone.PhoneService'] == 1) &
                  (df['phone.MultipleLines'] == 'No phone service')]

In [181]:
print(f"Se encontraron {len(error_logico)} filas con inconsistencia lógica.")

Se encontraron 0 filas con inconsistencia lógica.

In [182]:
df['phone.MultipleLines'] = df['phone.MultipleLines'].replace("No phone service", 0)

In [183]:
df['phone.MultipleLines'] = pd.to_numeric(df['phone.MultipleLines'], errors='coerce')

In [184]:
df['phone.MultipleLines'] = df['phone.MultipleLines'].astype('int64')

In [185]:
print(df['phone.MultipleLines'].value_counts())

phone.MultipleLines
0    4202
1    3065
Name: count, dtype: int64

In [186]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   int64
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   int64
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7267 non-null   object
dtypes: float64(1), int64(4), object(16)
memory usage: 1.2+ MB

In [187]:
print(df['internet.OnlineSecurity'].unique())

[0 1 'No internet service']

In [188]:
print(df['internet.InternetService'].unique())

['DSL' 'Fiber optic' 0]

In [189]:
print(df["internet.InternetService"].value_counts())

internet.InternetService
Fiber optic    3198
DSL            2488
0              1581
Name: count, dtype: int64

In [190]:
error_logico = df[(df['internet.InternetService'] != 0) &
                  (df['internet.OnlineSecurity'] == 'No internet service')]

In [191]:
print(f"Se encontraron {len(error_logico)} filas con inconsistencia lógica.")

Se encontraron 0 filas con inconsistencia lógica.

In [192]:
df['internet.OnlineSecurity'] = df['internet.OnlineSecurity'].replace("No internet service", 0)

In [193]:
df['internet.OnlineSecurity'] = pd.to_numeric(df['internet.OnlineSecurity'], errors='coerce')

In [194]:
df['internet.OnlineSecurity'] = df['internet.OnlineSecurity'].astype('int64')

In [195]:
print(df['internet.OnlineSecurity'] .value_counts())

internet.OnlineSecurity
0    5189
1    2078
Name: count, dtype: int64

In [196]:
print(df['internet.OnlineBackup'].unique())

[1 0 'No internet service']

In [197]:
error_logico = df[(df['internet.InternetService'] != 0) &
                  (df['internet.OnlineBackup'] == 'No internet service')]

In [198]:
print(f"Se encontraron {len(error_logico)} filas con inconsistencia lógica.")

Se encontraron 0 filas con inconsistencia lógica.

In [199]:
df['internet.OnlineBackup'] = df['internet.OnlineBackup'].replace("No internet service", 0)

In [200]:
df['internet.OnlineBackup'] = pd.to_numeric(df['internet.OnlineBackup'], errors='coerce')

In [201]:
df['internet.OnlineBackup'] = df['internet.OnlineBackup'].astype('int64')

In [202]:
print(df['internet.OnlineBackup'] .value_counts())

internet.OnlineBackup
0    4763
1    2504
Name: count, dtype: int64

In [203]:
print(df['internet.DeviceProtection'].unique())

[0 1 'No internet service']

In [204]:
error_logico = df[(df['internet.InternetService'] != 0) &
                  (df['internet.DeviceProtection'] == 'No internet service')]

In [205]:
print(f"Se encontraron {len(error_logico)} filas con inconsistencia lógica.")

Se encontraron 0 filas con inconsistencia lógica.

In [206]:
df['internet.DeviceProtection'] = df['internet.DeviceProtection'].replace("No internet service", 0)

In [207]:
df['internet.DeviceProtection'] = pd.to_numeric(df['internet.DeviceProtection'], errors='coerce')

In [208]:
df['internet.DeviceProtection'] = df['internet.DeviceProtection'].astype('int64')

In [209]:
print(df['internet.DeviceProtection'] .value_counts())

internet.DeviceProtection
0    4776
1    2491
Name: count, dtype: int64

In [210]:
print(df['internet.TechSupport'].unique())

[1 0 'No internet service']

In [211]:
error_logico = df[(df['internet.InternetService'] != 0) &
                  (df['internet.TechSupport'] == 'No internet service')]

In [212]:
print(f"Se encontraron {len(error_logico)} filas con inconsistencia lógica.")

Se encontraron 0 filas con inconsistencia lógica.

In [213]:
df['internet.TechSupport'] = df['internet.TechSupport'].replace("No internet service", 0)

In [214]:
df['internet.TechSupport'] = pd.to_numeric(df['internet.TechSupport'], errors='coerce')

In [215]:
df['internet.TechSupport'] = df['internet.TechSupport'].astype('int64')

In [216]:
print(df['internet.TechSupport'] .value_counts())

internet.TechSupport
0    5163
1    2104
Name: count, dtype: int64

In [217]:
print(df['internet.StreamingTV'].unique())

[1 0 'No internet service']

In [218]:
error_logico = df[(df['internet.InternetService'] != 0) &
                  (df['internet.StreamingTV'] == 'No internet service')]

In [219]:
print(f"Se encontraron {len(error_logico)} filas con inconsistencia lógica.")

Se encontraron 0 filas con inconsistencia lógica.

In [220]:
df['internet.StreamingTV'] = df['internet.StreamingTV'].replace("No internet service", 0)

In [221]:
df['internet.StreamingTV'] = pd.to_numeric(df['internet.StreamingTV'], errors='coerce')

In [222]:
df['internet.StreamingTV'] = df['internet.StreamingTV'].astype('int64')

In [223]:
print(df['internet.StreamingTV'] .value_counts())

internet.StreamingTV
0    4477
1    2790
Name: count, dtype: int64

In [224]:
print(df['internet.StreamingMovies'].unique())

[0 1 'No internet service']

In [225]:
error_logico = df[(df['internet.InternetService'] != 0) &
                  (df['internet.StreamingMovies'] == 'No internet service')]
print(f"Se encontraron {len(error_logico)} filas con inconsistencia lógica.")

Se encontraron 0 filas con inconsistencia lógica.

In [226]:
df['internet.StreamingMovies'] = df['internet.StreamingMovies'].replace("No internet service", 0)
df['internet.StreamingMovies'] = pd.to_numeric(df['internet.StreamingMovies'], errors='coerce')
df['internet.StreamingMovies'] = df['internet.StreamingMovies'].astype('int64')
print(df['internet.StreamingMovies'] .value_counts())

internet.StreamingMovies
0    4451
1    2816
Name: count, dtype: int64

In [227]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   int64
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   int64
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   int64
 11  internet.OnlineBackup      7267 non-null   int64
 12  internet.DeviceProtection  7267 non-null   int64
 13  internet.TechSupport       7267 non-null   int64
 14  internet.StreamingTV       7267 non-null   int64
 15  internet.StreamingMovies   7267 non-null   int64
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7267 non-null   object
dtypes: float64(1), int64(10), object(10)
memory usage: 1.2+ MB

In [228]:
print(df['account.PaperlessBilling'].unique())

[1 0]

In [229]:
df['account.PaperlessBilling'] = df['account.PaperlessBilling'].replace({'Yes': 1, 'No': 0}).infer_objects(copy=False)

In [230]:
df['account.PaperlessBilling'] = df['account.PaperlessBilling'].fillna(0).astype('int64')

In [231]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   int64
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   int64
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   int64
 11  internet.OnlineBackup      7267 non-null   int64
 12  internet.DeviceProtection  7267 non-null   int64
 13  internet.TechSupport       7267 non-null   int64
 14  internet.StreamingTV       7267 non-null   int64
 15  internet.StreamingMovies   7267 non-null   int64
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   int64
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7267 non-null   object
dtypes: float64(1), int64(11), object(9)
memory usage: 1.2+ MB

In [235]:
print(df['account.Charges.Total'].unique())

[ 593.3   542.4   280.85 ...  742.9  4627.65 3707.6 ]

In [236]:
solo_espacios = df[df['account.Charges.Total'] == " "]

In [238]:
print(f"Cantidad de filas con espacio en blanco: {len(solo_espacios)}")
display(solo_espacios[['customerID', 'customer.tenure', 'account.Charges.Total']])

Cantidad de filas con espacio en blanco: 0

Empty DataFrame
Columns: [customerID, customer.tenure, account.Charges.Total]
Index: []

In [239]:
Espacios_Nulos = df[df['account.Charges.Total'] == "NaN"]

In [240]:
print(f"Cantidad de filas con Nulos: {len(Espacios_Nulos)}")
display(Espacios_Nulos[['customerID', 'customer.tenure', 'account.Charges.Total']])

Cantidad de filas con Nulos: 0

Empty DataFrame
Columns: [customerID, customer.tenure, account.Charges.Total]
Index: []